*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: #F4F4F4;
}

.container{
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  border: 1px solid red;

}

.highlight{
  color:#FFA400;
}

.flex-container{
	display:flex;
	height: auto;
	justify-content: center;
	flex-wrap: wrap;
	transition: display 2s , opacity 2s;
}

.article-static{
	background-color: #f4f4f4;
	border:solid 1px grey;
	border-top: solid 2em #FFA400;
  margin: 4% auto;
	padding: 12px;
	flex-basis: 400px;
	text-align: center;
	transition: background-color 1s;
	box-shadow: 2px 2px 12px 2px rgb(53,53,53);
}


.article{
	background-color: #f4f4f4;
	border:solid 1px grey;
	border-top: solid 2em #29335C;
	margin:3% 1%;
	padding: 12px;
	flex-basis: 400px;
	text-align: center;
	transition: background-color 1s;
	box-shadow: 2px 2px 12px 2px rgb(53,53,53);
}


.article a{
	color: black;
	text-decoration: none;
}

.article a h2{
	color:grey;
}

.article div{
	border-bottom: solid 1px black;
}

.article:hover{
	box-shadow: 0px 4px 31px 4px rgb(10,10,10);
}

.article:hover h2{
	color: #FFA400;
}

.article img{
	transition: height, 1s;
	height: 100px;
	padding: auto;
	margin:auto;
}
.article:hover img{
	height:110px;
}

.article a:active{
  background: 0;
}
.article a:focus{
  background: 0;
}

.grid-container{

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "header header nav-main"
  "main main main"
  "footer footer footer";

}


#header{
  padding: 1em 2em ;
  grid-area: header;
  color:white;
  background-color: #29335C;
  border-bottom: 2px solid #303036;
  position: sticky;
}

#main-about{
  z-index: 2;
  text-align: center;
  min-height: 100vh;
  display: none;
}

#main-contact{
  display: none;
 z-index: 0;
 min-height: 100vh;
}

#main-project{
  min-height: 100vh;
  z-index: 0;
}

#main{
  grid-area: main;
}



#nav-main{
  grid-area: nav-main;
  background-color: #29335C;
  padding: 1em;
  border-left: 1px solid white;
  color:white;
}

#nav-main button{
  content: "";
  background:0;
  position: relative;
  border: 0;
  width: 2em;
  border-top: 4px solid white;
  transition: transform 1s;
}

#nav-main button::after , #nav-main button::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  border-top: solid 4px white;
}
#nav-main button::after{
  transform: translateY(15px);
}

#nav-main button::before{
    transform: translateY(5px);
}

#nav-main button:focus{
  outline: 0;
}


#aside-right{
  display: none;
  padding: 1em;
  color:white;
  grid-area: aside-right;
  transition: right 2s;
  background-color: #29335C;
  border: 1px solid white;;
}

#aside-right button{
  background: 0;
  border: 0;
  color:white;
  padding: 3px;
  font-size: 18px;
}
#aside-right button:hover{
  border:1px solid white;
  border-radius: 0.2em;

}

#aside-right ul{

  list-style: none;
}

#aside-right li{
  padding: 1em 0em;
}

#footer{
  grid-area: footer;
  color:white;
  text-align: center;
  background-color: #29335C;
  padding: 1em;
}

@media (max-width:1200px) {

  .article{
    flex-basis: auto;
  }
  #aside-right{
    font-size: 24px;
  }
  #footer{
    font-size: 24px;
  }

}
